*.log
*.out
*.toc
*.synctex*
*.fdb_latexmk
*.fls
*.aux
*.watcher_pid
*.lb
*.hd
/test/*.png
/test/*.pdf
!/test/*.approved.pdf
!/test/1x1.pdf
!/test/2x3.pdf
!/test/3x2.pdf
!/test/1x2.pdf
!/test/2x1.pdf
!/test/5x3.pdf
!/test/3x5.pdf
cache
