*.log
*.out
*.toc
*.synctex*
*.fdb_latexmk
*.fls
*.aux
*.watcher_pid
*.lb
*.hd
/tests/*.png
/tests/*.pdf
!/tests/*.approved.pdf
!/tests/1x1.pdf
!/tests/2x3.pdf
!/tests/3x2.pdf
!/tests/1x2.pdf
!/tests/2x1.pdf
!/tests/5x3.pdf
!/tests/3x5.pdf
cache
